@model SisConv.Application.ViewModels.CargoViewModel

@{
    ViewBag.Title = "Novo Cargo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ConvocacaoId, new { htmlAttributes = new { @class = "form-control" },Value=@ViewBag.Id })
                @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoCargo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Ativo,new{Value=true})
                @Html.EditorFor(model => model.CodigoCargo, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CodigoCargo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Voltar", "Index")
</div>
