@model SisConv.Application.ViewModels.ConvocacaoViewModel

@{
	ViewBag.Title = "Lista de Candidatos";
}

@using (Html.BeginForm("ConfigurarLocalConvocacao", "Convocacao")) {
<h2>@ViewBag.DadosConvocacao.Nome</h2>
<h3>
	@ViewBag.DadosCargo.Nome
</h3>
<table class="table">
	<tr>
		<th>
			Inscrição
		</th>
		<th>
			Nome
		</th>
		<th>
			CPF
		</th>
		<th>
			Pontuação
		</th>
		<th>
			Posição
		</th>
		<th>
			Resultado
		</th>
		<th>Convocar?</th>
	</tr>

	@foreach (var item in ViewBag.ListaCandidatos) {
		<tr>
			<td>
				@item.Inscricao
			</td>
			<td>
				@item.Nome.ToString().ToUpper()
			</td>
			<td>
				@item.Cpf
			</td>
			<td>
				@item.Pontuacao
			</td>
			<td>
				@item.Posicao
			</td>
			<td>
				@item.Resultado.ToString().ToUpper()
			</td>
			<td>@Html.CheckBox("Convocado",new{Value=item.ConvocadoId})</td>
		</tr>
	}
	<tr>
		<td colspan="7" align="center">
			<input type="submit" value="Enviar Candidatos Selecionados" />
			<input type="button" value="Voltar" />

		</td>
	</tr>

</table>
}

