@model IEnumerable<SisConv.Application.ViewModels.ConvocadoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProcessoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inscricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pontuacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resultado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naturalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgaoEmissor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filhos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deficiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deficiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CondicaoEspecial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pontuacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naturalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgaoEmissor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filhos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deficiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deficiencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CondicaoEspecial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConvocadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConvocadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConvocadoId })
        </td>
    </tr>
}

</table>
