@using System.Web.Mvc.Html
@model IEnumerable<SisConv.Application.ViewModels.ProcessoViewModel>

@{
    ViewBag.Title = "Convocações";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova Convocação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			 @Html.ActionLink(item.Nome,"Painel", "Processos", new { id = item.ProcessoId },null) 
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Configurações", "Configuracoes", new {id = item.ProcessoId },null) 
        </td>
        <td>
            @Html.ActionLink("Relatórios", "Index", "Relatorio", new { id = item.ProcessoId },null)
        </td>
    </tr>
}

</table>
